<div class="timer-time">
    <span class="timer-hh">{{hh}}</span><span class="timer-blinky blinky">:</span><span class="timer-mm">{{mm}}</span>
</div>
<ul class="timer-controls">
    <li><button class="ui-pause" title="Pause time"><i class="fa fa-pause"></i><i class="fa fa-play hidden"></i></button></li>
    <li><button class="ui-next" title="Next stage"><i class="fa fa-forward"></i></button></li>
    <li><button class="ui-day" title="Start new day"><i class="fa fa-fast-forward"></i></button></li>
</ul>
<div class="timer-stage">{{stage}}</div>
