<div class="rating-header">
    <ul class="rating">
        <li class="rating-item"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
        <li class="rating-item"><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
        <li class="rating-item"><i class="fa fa-star"></i></li>
        <li class="rating-item rating-item-negative"><i class="fa fa-frown-o"></i></li>
    </ul>
</div>

<div class="list-items"></div>