<div class="message">
    <i class="message-badge message-badge-bad"></i>
    <h2>Time's up!</h2>
    {{#if message}}
    <div class="message-subtitle">{{message}}</div>
    {{/if}}
    <p><button class="btn btn-L">{{#if button}}{{button}}{{else}}Next{{/if}}</button></p>
</div>
